<!DOCTYPE html>
<html>
<head>
<%= render "layouts/head" %>
</head>
<body>
<div id="wrapper">
  <div id="wrapper-bgbtm">
    <%= render "layouts/header" %>
    <%= render "layouts/menu" %>
    <!-- end #menu -->
    <div id="page">
      <div id="page-bgtop">
        <div id="page-bgbtm">
          <div id="content">
            <%= yield %>
          </div>
          <!-- end #content -->
          <%= render "layouts/sidebar" %>
          <!-- end #sidebar -->
          <div style="clear: both;">&nbsp;</div>
        </div>
      </div>
    </div>
    <!-- end #page -->
    <%= render "layouts/footer" %>
  </div>
</div>

</body>
</html>